.plantList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 0.5rem;
  padding: 0;
  margin: 0;
}

.plant {
  list-style: none;
  padding: 1rem;
  border: 1px solid gainsboro;
}

.plantImage {
  justify-self: center;
  font-size: 5rem;
  margin: 0;
}

.plant button {
  justify-content: center;
  width: 100%;
}
