body {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0.5rem 0;
}

main {
  display: flex;
  gap: 0.5rem;
}

.plants {
  flex-grow: 1;
}

.cart {
  width: 30ch;
}
